<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operação não Autorizada</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Operação não Autorizada</h2>
    <p class="text-center">Não é Possível executar operação em uma Conta que não Pertece a você!</p>
    <div class="text-center">
        <a href="/contas/listar" class="btn btn-primary">Voltar Para Conta</a>
        <a href="/auth/logout" class="btn btn-danger">Sair</a>

    </div>
</div>
</body>
</html>