<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Não Autorizado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Acesso Não Autorizado</h2>
    <p class="text-center">Você não tem permissão para acessar essa página. Por favor, faça login para continuar.</p>
    <div class="text-center">
        <a href="/auth/login" class="btn btn-primary">Ir para o Login</a>
    </div>
</div>
</body>
</html>